<div class="row">
  <div class="col-md-12 text-center">
    <div class="circle-sml">
      <div class="circle-txt">
        <h1 class="rant">RANTS</h1>
        <% if user_is_authorized_for_topics? %>
          <%= link_to "New Rant", new_topic_path, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <% @topics.each do |topic| %>
    <div class="col-md-4">
      <div class="circle-sml">
        <div class="circle-sml-txt">
          <h3 class="rant"><%= link_to topic.name, topic, style: 'text-decoration: none;' %></h3>
          <h5><%= topic.description %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
