<div class="row">
  <div class="col-md-4">
    <div class="circle-sml">
      <div class="circle-form">
        <h3 class="rant">New Thought</h3>
        <p>Guidelines for thoughts</p>
        <ol>
          <li>Please no cats.</li>
          <li>No grinding teeth.</li>
          <li>No GIFs.</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %> 
  </div>
</div>

