/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');
@import "bootstrap-sprockets";
@import "bootstrap";


a {
    color: red;
    text-decoration: none;
}

a:hover {
    color:#fafafa;
    text-decoration: none;
}

.btn-danger {
    background-color: red;
    color: #fafafa; 
}

.btn-danger:hover {
    background-color: #fafafa;
    color: #2E2E2E;
}


.rant {
    font-family: 'Zilla Slab Highlight', cursive;
    letter-spacing: 0.15em;
    line-height: 1.6;
    color: red;
}

.circle {
    position: relative;
    width: 400px;
	height: 400px;
	display: inline-block;
	background: #2E2E2E;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	padding: 50%, 0;
	border-radius: 50%;
	text-align: center;
}

.circle-sml {
    position: relative;
    width: 300px;
	height: 300px;
	display: inline-block;
	background: #2E2E2E;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	padding: 50%, 0;
	border-radius: 50%;
	text-align: center;
}

.circle-xsml-btn {
    position: relative;
    width: 150px;
	height: 150px;
	display: inline-block;
	background: #2e2e2e;
	border: 3px solid #2E2E2E;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	padding: 50%, 0;
	border-radius: 50%;
	text-align: center;
}

.circle-xsml-btn:hover {
    background: #fafafa;
}

.circle-xsml-btn-txt {
    position: absolute;
    top: 20%;
    left: 40%;
    height: 30%;
    width: 70%;
    margin: -15% 0 0 -25%;
    font-family: 'Zilla Slab Highlight', cursive;
    letter-spacing: 0.15em;
    color: red;
}

.circle-sml-txt {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color: #fafafa;
}

.circle-txt {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color: #fafafa;
}

.circle-form {
    position: absolute;
    top: 25%;
    left: 45%;
    height: 30%;
    width: 60%;
    margin: -15% 0 0 -25%;
    color: #fafafa;
}

.circle-txt-login {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color: #fafafa;
}